# Preprocessing

In this script we preprocess the training user data and split into internal training and testing sets so it is in a form which is processable by machine learning models.

In [22]:
# Libraries
library(ggplot2)
library(caret)
library(dplyr)
library(readr)

# Set seed
set.seed(1066)

In [23]:
# Read in the data
# Assumes the data files from the competition are in "../Data/"
#"../Data/train_users_2.csv"
data <- read.csv("../Data/users_FE.csv")

## Test / Train merge / index
Split internal training data into a training and testing set so we don't need to evaluate with kaggle leaderboards every time. 

Merge the 3 sets into one so feature engineering is performed the same on each.

In [24]:
test_users <- filter(data, dataset == "test")
train_users <- filter(data, dataset == "train")
dim(test_users)
dim(train_users)

[1] 62096    35

[1] 213451     35

In [45]:
# Index internal training and testing sets
tr_index <- createDataPartition(y = train_users$country_destination, p = .75, list = FALSE)
train_users$dataset <- "test_internal"
train_users$dataset[tr_index] <- "train"

# Merge training and testing set
test_users$country_destination <- "NDF"
test_users$dataset <- "test_external"

dat <- rbind(train_users, test_users)

dat$dataset <- as.factor(dat$dataset)
table(dat$dataset)

test_external test_internal         train
        62096         53358        160093

## Save Output

In [46]:
saveRDS(dat, "../Data/users_PP.RDS")
write_csv(dat, "../Data/users_PP.csv")
str(dat)

'data.frame':	275547 obs. of  35 variables:
 $ X                      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ id                     : Factor w/ 275547 levels "00023iyk9l","0005ytdols",..: 129856 61844 34121 88356 63040 190164 167259 2769 77033 52565 ...
 $ age_cln                : int  NA 38 56 42 41 NA 46 47 50 46 ...
 $ age_cln2               : int  NA 38 56 42 41 NA 46 47 50 46 ...
 $ age_bucket             : Factor w/ 20 levels "0-4","100+","15-19",..: NA 7 12 8 8 NA 9 9 11 9 ...
 $ dac_year               : int  2010 2011 2010 2011 2010 2010 2010 2010 2010 2010 ...
 $ dac_month              : int  6 5 9 12 9 1 1 1 1 1 ...
 $ dac_day                : int  28 25 28 5 14 1 2 3 4 4 ...
 $ dac_week               : int  26 21 39 49 37 0 0 1 1 1 ...
 $ dac_yearweek           : int  201026 201121 201039 201149 201037 201000 201000 201001 201001 201001 ...
 $ dac_yearmonth          : int  201006 201105 201009 201112 201009 201001 201001 201001 201001 201001 ...
 $ dac_yearmonthday       : int  20100628 20110525 20100928 20111205 20100914 20100101 20100102 20100103 20100104 20100104 ...
 $ dac_yearmonthweek      : int  20100626 20110521 20100939 20111249 20100937 20100100 20100100 20100101 20100101 20100101 ...
 $ tfa_year               : int  2009 2009 2009 2009 2009 2010 2010 2010 2010 2010 ...
 $ tfa_month              : int  3 5 6 10 12 1 1 1 1 1 ...
 $ tfa_day                : int  19 23 9 31 8 1 2 3 4 4 ...
 $ tfa_week               : int  11 20 23 43 49 0 0 1 1 1 ...
 $ tfa_yearweek           : int  200911 200920 200923 200943 200949 201000 201000 201001 201001 201001 ...
 $ tfa_yearmonth          : int  200903 200905 200906 200910 200912 201001 201001 201001 201001 201001 ...
 $ tfa_yearmonthday       : int  20090319 20090523 20090609 20091031 20091208 20100101 20100102 20100103 20100104 20100104 ...
 $ tfa_yearmonthweek      : int  20090311 20090520 20090623 20091043 20091249 20100100 20100100 20100101 20100101 20100101 ...
 $ lag                    : int  466 732 476 765 280 0 0 0 0 0 ...
 $ NAs_profile            : int  2 0 0 0 1 2 0 0 0 1 ...
 $ gender                 : Factor w/ 3 levels "FEMALE","MALE",..: NA 2 1 1 NA NA 1 1 1 NA ...
 $ signup_method          : Factor w/ 4 levels "basic","facebook",..: 2 2 1 2 1 1 1 1 1 1 ...
 $ signup_flow            : int  0 0 3 0 0 0 0 0 0 0 ...
 $ language               : Factor w/ 26 levels "-unknown-","ca",..: 7 7 7 7 7 7 7 7 7 7 ...
 $ affiliate_channel      : Factor w/ 8 levels "api","content",..: 3 8 3 3 3 4 4 3 4 4 ...
 $ affiliate_provider     : Factor w/ 18 levels "baidu","bing",..: 5 9 5 5 5 13 3 5 3 3 ...
 $ first_affiliate_tracked: Factor w/ 7 levels "linked","local ops",..: 7 7 7 7 7 4 7 4 7 4 ...
 $ signup_app             : Factor w/ 4 levels "Android","iOS",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ first_device_type      : Factor w/ 9 levels "Android Phone",..: 6 6 9 6 6 6 6 6 6 6 ...
 $ first_browser          : Factor w/ 55 levels "-unknown-","Android Browser",..: 9 9 25 18 9 9 44 44 44 18 ...
 $ country_destination    : Factor w/ 12 levels "AU","CA","DE",..: 8 8 12 10 12 12 12 12 12 12 ...
 $ dataset                : Factor w/ 3 levels "test_external",..: 2 3 3 3 3 3 3 2 3 3 ...